body {
 background-color: rgb(0, 5, 18);
}

.mainContent{
	
 background-color: rgb(0,17, 60);
 height: 90%;
 width: 90%;
 font-family: "Lucida Console", "Courier New", monospace;
 border: 1px outset white;
 text-align: center;
 color: white;
}

.navBar {
 background-color: rgb(0,17, 60);
 height: 100px;
 width: 100%;
}